# SQLite 개요

## 1) 개발자

가) 리처드 힙(Richard Hipp) 이란 사람이 2000년도 8월에 발표, C언어로 개발

나) 2019년 10월 10일 버전 3.30 이 최신 버전

## 2) 특징
가) 파일 기반의 DBMS, 저메모리, 빠른 처리 속도

나) 오픈소스

다) 별도의 DB 서버가 없어도 쉽고 편하게 사용할 수 있는 Embedded SQL DB 엔진

라) 안드로이드, 아이폰 등의 스마트폰에 내장된 DB

마) 표준 SQL지원한다.

In [1]:
import sqlite3 as sqL

In [2]:
print(sqL.sqlite_version)

3.29.0

In [3]:
def create_table():
    # mybooks.db에 접속 , 신규일경우 새롭게 생성후에 접속 
    conn = sqL.connect("mybooks.db")
    # 커서 오픈 (SQL구문 실행 하기 위한 객체)
    cursor = conn.cursor()
    cursor.execute("""
        create table if not exists books (
         title text,
         pub_date text,
         publisher text,
         pages integer,
         recommend integer
        )
    """)
    conn.commit()
    conn.close()
create_table()

In [4]:
def insert_books1(tup):
    conn=sqL.connect("mybooks.db") #db 접속
    cursor=conn.cursor() #커서 생성(sql 실행 객체)
    # 매개변수를 이용한 쿼리에 튜플 데이터로 입력
    sql="insert into books values (?,?,?,?,?)"
    cursor.execute(sql, tup)
    #cursor.executemany(sql, items)
    conn.commit() #db에 반영
    conn.close() #db 접속 종료
    
query = ("Python","2018-03-04","한빛",584,20)
insert_books1(query)

In [5]:
def insert_books2(items):
    conn=sqL.connect("mybooks.db")
    cursor=conn.cursor() 
    sql="insert into books values (?,?,?,?,?)"
    cursor.executemany(sql, items)
    conn.commit() #db에 반영
    conn.close() #db 접속 종료

    # 리스트를 이용한 대량 insert
items=[
    ("빅데이터2","2019-12-08","삼성",296,50),
    ("안드로이드2","2020-01-02","코스모",596,21),
    ("Spring2","2020-01-02","에이콘",396,31),
    ("Linux","2020-01-02","에이콘",396,31)
]    
insert_books2(items)

In [8]:
def all_books():
    conn=sqL.connect("mybooks.db") #db 오픈
    cursor=conn.cursor() #커서 생성
    cursor.execute("select * from books") #sql 실행
    books=cursor.fetchall() #모든 레코드를 리스트로 리턴
    #print(books)
    for book in books:
        print(book)
    conn.close() # db 접속 종료

all_books()

('Python', '2018-03-04', '한빛', 584, 20)
('빅데이터2', '2019-12-08', '삼성', 296, 50)
('안드로이드2', '2020-01-02', '코스모', 596, 21)
('Spring2', '2020-01-02', '에이콘', 396, 31)
('Linux', '2020-01-02', '에이콘', 396, 31)

In [9]:
def one_book():
    conn=sqL.connect("mybooks.db")
    cursor = conn.cursor()
    cursor.execute("select * from books where title='빅데이터' ")
    #레코드 1개만 선택 => 튜플로 리턴
    print(cursor.fetchone()) 
    conn.close()

one_book()

None

In [10]:
def one_book2(title):
    conn=sqL.connect("mybooks.db")
    cursor = conn.cursor()
    sql = "select * from books where title= :titlev"
    cursor.execute(sql, {"titlev": title})
    #cursor.execute(sql, ("빅데이터"))
    #레코드 1개만 선택 => 튜플로 리턴
    print(cursor.fetchall()) 
    conn.close()

In [12]:
title = input("Title => ")
one_book2(title)

Title => Python
[('Python', '2018-03-04', '한빛', 584, 20)]

In [15]:
# 사용자로부터 타이틀과 recommend 받아서 처리하도록 해보기 
def update_books(tup):
    conn=sqL.connect("mybooks.db")
    cursor=conn.cursor()
    sql = "update books set recommend=? where title=?"
    # ? 위치에 튜플의 값이 대입됨 
    cursor.execute(sql, tup)
    conn.commit()
    conn.close()
query =(777, 'Python')
update_books(query)
all_books()

('Python', '2018-03-04', '한빛', 584, 777)
('안드로이드2', '2020-01-02', '코스모', 596, 21)
('Spring2', '2020-01-02', '에이콘', 396, 31)
('Linux', '2020-01-02', '에이콘', 396, 31)

In [16]:
def delete_books(publisher):
    conn=sqL.connect("mybooks.db")
    cursor=conn.cursor()
    sql="delete from books where publisher=:publisherv"
    cursor.execute(sql, {"publisherv": publisher} )
    conn.commit()
    conn.close()
publisherv = "삼성"   
delete_books(publisherv)
all_books()

('Python', '2018-03-04', '한빛', 584, 777)
('안드로이드2', '2020-01-02', '코스모', 596, 21)
('Spring2', '2020-01-02', '에이콘', 396, 31)
('Linux', '2020-01-02', '에이콘', 396, 31)

In [17]:
#일부 레코드 조회
def some_books(number):
    conn=sqL.connect("mybooks.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    #지정된 숫자만큼의 레코드를 리스트로 리턴
    books = cursor.fetchmany(number)
    for book in books:
        print(book)
    conn.close()
    
some_books(2)  
print("*"*50)
some_books(3) 
print("*"*50)
some_books(5)
print("*"*50)

('Python', '2018-03-04', '한빛', 584, 777)
('안드로이드2', '2020-01-02', '코스모', 596, 21)
**************************************************
('Python', '2018-03-04', '한빛', 584, 777)
('안드로이드2', '2020-01-02', '코스모', 596, 21)
('Spring2', '2020-01-02', '에이콘', 396, 31)
**************************************************
('Python', '2018-03-04', '한빛', 584, 777)
('안드로이드2', '2020-01-02', '코스모', 596, 21)
('Spring2', '2020-01-02', '에이콘', 396, 31)
('Linux', '2020-01-02', '에이콘', 396, 31)
**************************************************