In [1]:
# 리눅스에서 한글 설정
import pandas as pd
import numpy as np
import warnings as wr
import matplotlib
import matplotlib.font_manager
#[f.name for f in matplotlib.font_manager.fontManager.ttflist if 'Nanum' in f.name]

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
# 유니코드 깨짐현상 해결
mpl.rcParams['axes.unicode_minus'] = False
# 나눔고딕 폰트 적용
plt.rcParams["font.family"] = 'NanumGothic'
wr.filterwarnings('ignore')

In [3]:
# 데이터를 시트별로 불러오기
train_df = pd.read_excel('dataset/HundaiCar.xlsx', sheet_name='train')
test_df = pd.read_excel('dataset/HundaiCar.xlsx', sheet_name='test')

In [6]:
train_df.info()
#test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 11 columns):
가격       71 non-null int64
년식       71 non-null int64
종류       71 non-null object
연비       71 non-null float64
마력       71 non-null int64
토크       71 non-null float64
연료       71 non-null object
하이브리드    71 non-null int64
배기량      71 non-null int64
중량       71 non-null int64
변속기      71 non-null object
dtypes: float64(2), int64(6), object(3)
memory usage: 6.2+ KB

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
가격       31 non-null int64
년식       31 non-null int64
종류       31 non-null object
연비       31 non-null float64
마력       31 non-null int64
토크       31 non-null float64
연료       31 non-null object
하이브리드    31 non-null int64
배기량      31 non-null int64
중량       31 non-null int64
변속기      31 non-null object
dtypes: float64(2), int64(6), object(3)
memory usage: 2.7+ KB

In [9]:
# 데이터의 크기 확인하기
train_df.shape
test_df.shape

(31, 11)

In [12]:
# null여부
train_df.isnull().sum()
test_df.isnull().sum()

가격       0
년식       0
종류       0
연비       0
마력       0
토크       0
연료       0
하이브리드    0
배기량      0
중량       0
변속기      0
dtype: int64

In [14]:
train_df.head(5)

     가격    년식   종류    연비   마력    토크   연료  하이브리드   배기량    중량 변속기
0  1885  2015  준중형  11.8  172  21.0  가솔린      0  1999  1300  자동
1  2190  2015  준중형  12.3  204  27.0  가솔린      0  1591  1300  자동
2  1135  2015   소형  15.0  100  13.6  가솔린      0  1368  1035  수동
3  1645  2014   소형  14.0  140  17.0  가솔린      0  1591  1090  자동
4  1960  2015   대형   9.6  175  46.0   디젤      0  2497  1990  자동