# Series
DataFrame의 한 컬럼 데이터 세트

Series 역시 DataFrame의 인덱스와 동일한 인덱스를 가진다

즉 Series는 컬럼이 하나인 데이터 구조체이고 DataFrame은 컬럼이 여러개인 데이터 구조체이다

In [1]:
import pandas as pd

In [3]:
age_in = pd.Series([22,33,44,55,28])
age_in

0    22
1    33
2    44
3    55
4    28
dtype: int64

In [4]:
type(age_in)

pandas.core.series.Series

In [5]:
#인덱스를 접근하는 방법 ***
age_in.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
# 값을 나타내는 방법
age_in.values

array([22, 33, 44, 55, 28])

In [8]:
print(age_in.keys)

<bound method Series.keys of 0    22
1    33
2    44
3    55
4    28
dtype: int64>

In [10]:
# 인덱스가 key라는 값을 반환한다. => 시리즈 객체의 인덱스의 레이블 반환
age_in.keys()

RangeIndex(start=0, stop=5, step=1)

In [13]:
# 시리즈 생성하기
age_in = pd.Series([22, 33, 44, 55, 28], index=['가','나','다','라','마'])
age_in

가    22
나    33
다    44
라    55
마    28
dtype: int64

In [14]:
# index 를 사용해서 시리즈에 접근할 수 있다.
age_in['다'] = 100
age_in

가     22
나     33
다    100
라     55
마     28
dtype: int64

In [15]:
age_in.keys

<bound method Series.keys of 가     22
나     33
다    100
라     55
마     28
dtype: int64>

In [16]:
age_in.keys()

Index(['가', '나', '다', '라', '마'], dtype='object')

<실습문제>

Index(['가', '나'], dtype='object') 

처럼 출력해보기

In [26]:
age_in.index[0:2]

Index(['가', '나'], dtype='object')

In [27]:
age_in['다']

100

In [35]:
# Series 인덱스 중복 -> Series 의 특성
srs = pd.Series(['가', '나', '다'], index=['a','b','a'])
print(srs)
print('*' * 50)
print(srs['a']) # 중복된 인덱스 값을 출력한다
print('*' * 50)
print(srs['b'])
print('*' * 50)
print(srs[0])
print(srs[1])
print('*' * 50)
print(srs[-1]) # 다 , -1 맨끝

a    가
b    나
a    다
dtype: object
**************************************************
a    가
a    다
dtype: object
**************************************************
나
**************************************************
가
나
**************************************************
다

In [36]:
print(srs.values)
type(srs.values)

['가' '나' '다']

numpy.ndarray

In [39]:
# numpy 의 Array를 사용해서 시리즈로 생성하기
# 11,22,33 의 값을 numpy로 생성해서
# 시리즈로 대입해보기

import numpy as np
n1 = np.array([11,22,33])
s1 = pd.Series(n1)

In [40]:
s1

0    11
1    22
2    33
dtype: int64

In [42]:
# 딕셔너리를 시리즈 형태로 변환 ***
info_list = {'kim':25,'park':22,'lee':34}
info_series = pd.Series(info_list)

In [43]:
info_series

kim     25
park    22
lee     34
dtype: int64

In [44]:
# 딕셔너리의 키값이 시리즈의 인덱스값이 된다.
info_series.index

Index(['kim', 'park', 'lee'], dtype='object')

In [45]:
info_series.values

array([25, 22, 34])

In [46]:
type(info_series.values)

numpy.ndarray

In [47]:
info_series.keys()

Index(['kim', 'park', 'lee'], dtype='object')

In [48]:
info_series['lee'] = 100

In [49]:
info_series

kim      25
park     22
lee     100
dtype: int64

In [52]:
# 딕셔너리를 시리즈 형태로 변환 ***
# 딕셔너리같은 경우 키값이 인덱스로 설정, 새로운 인덱스로 지정 -> NaN
info_list = {'kim':25,'park':22,'lee':34}
info_series = pd.Series(info_list,index=[0,1,2])
info_series

0   NaN
1   NaN
2   NaN
dtype: float64

In [53]:
info_list = {'kim':25,'park':22,'lee':34}
info_series = pd.Series(info_list)
info_series

kim     25
park    22
lee     34
dtype: int64

In [74]:
# -> 인덱스를 변경
# A 25
# B 22
# C 34

info_series.index = ['A','B','C']
info_series

A    25
B    22
C    34
dtype: int64

## Series 인덱스
- 리스트, 튜플의 index 와 dict 의 key 와 유사, numpy 의 ndArray
- 같은 값의 index 가 가능 (즉 중복 가능) => 튜플로 시리즈를 만들 때 중복된 인덱스를 넣어서 테스트 해보기

In [78]:
mytuple = (10,20,30)
my_s = pd.Series(mytuple,index=['A','A','B'])
my_s

A    10
A    20
B    30
dtype: int64

# Pandas를 사용해야 하는 이유

In [82]:
odd = [1,3,5,7,9]
type(odd)
#odd.mean()

list

In [83]:
odd = pd.Series(odd)
odd.mean()

5.0