# 카이제곱 검정

In [4]:
import pandas as pd
import numpy as np

# 통계 관련 라이브러리
from scipy import stats

In [29]:
# data1 과 data2 사이에 유의한 관계가 있는가?
# 귀무가설 : data1 과 data2 는 차이가 없다.
# 대립가설 : data1 과 data2 는 차이가 있다.(내가 주장하고 싶은 것)

data1 = [4,6,17,16,8,9] # 관측치
#data1 = [10,10,10,10,10,10]
data2 = [10,10,10,10,10,10] # 기대치

In [32]:
# 카이제곱 검정은 이산형, 이산형 변수가 서로 상관관계가 있는지 없는지 확인
# 검정 통계량
chis = stats.chisquare(data1, data2)
chis

print("카이제곱 통계량: ",chis.statistic, "\n유의확률: ", chis.pvalue)

카이제곱 통계량:  14.200000000000001
유의확률:  0.014387678176921308

In [13]:
# p-value 가 0.05보다 작으므로 95% 신뢰수준 하에서 유의한 관계가 있다.
# 귀무가설 기각, 대립가설 채택
# 따라서 data1 과 data2 는 차이가 있다.

if chis.pvalue < 0.05:
    print("대립가설 채택: data1 과 data2 는 차이가 있다 ")
else:
    print("귀무가설 채택: data1 과 data2 는 차이가 없다.")

대립가설 채택: data1 과 data2 는 차이가 있다

In [21]:
# 귀무가설(HO) : 두 변수는 연관성이 없다. 적합하다.
# 대립가설(H1) : 두 변수는 연관성이 있다. 적합하지 않다.

In [22]:
data1 = [4,6,17,16,8,9]
print('주사위를 던진 횟수: ', sum(data1))

주사위를 던진 횟수:  60

In [25]:
import pandas as pd
from scipy import stats
from numpy import mean

# 귀무가설 : data1 과 data2 는 차이가 없다.
# 대립가설 : data1 과 data2 는 차이가 있다.
data1 = [16,5,9,7,6,17]
data2 = [10,10,10,10,10,10]


# 검정통계량과 p-value
chis = stats.chisquare(data1, data2)
statistic, pvalue = chis
if pvalue < 0.05:
    print("대립가설 채택: data1 과 data2 는 차이가 있다 ")
else:
    print("귀무가설 채택: data1 과 data2 는 차이가 없다.")

대립가설 채택: data1 과 data2 는 차이가 있다

### 연습문제1)
다음 표는 완두콩의 잡종의 분류에 대한 관측도수와 기대치이다.

이 데이터는 유전의 이론적으로 모형에 부합된다고 할 수 있는가? (유의수준 : 0.05)

In [34]:
data1 = [322,108,98,32] # 관측치
data2 = [315,105,105,35] # 기대치

chis = stats.chisquare(data1, data2)
statistic, pvalue = chis

if pvalue < 0.05:
    print("대립가설 채택(차이가 있다)")
else:
    print("귀무가설 채택(차이가 다)")

print("카이제곱 통계량: ",statistic, "\n유의확률: ", pvalue)

귀무가설 채택(차이가 없다)
카이제곱 통계량:  0.9650793650793651
유의확률:  0.8097008543276216

### 연습문제2)
한 교양과목을 강의하고 있는 P교수는 수강생들의 학년 분포가 모든 학년에 대해 균일한지 여부를 알아보고자한다.

이를 위해 지난 학기 수강자 171명의 학년 분포를 조사하여 아래 표와 같은 결과를 얻었다.

카이제곱 적합도 검정을 사용하여 이 문제를 풀어보시오(유의수준 0.05).

가설검정을 위한 통계량 중에 각 학년별 기대빈도는 전체 표본의 수 171명에 각 범주(학년)의 기대비율(25%)를 곱해서 구한다.

In [51]:
data1 = [86,36,30,19] # 관측치
data2 = [42.75,42.75,42.75,42.75] # 기대치
print("기대치=> ", sum(data1),"(관측치 총합)", "/",len(data1), "(관측치갯수): ",sum(data1)/len(data1))
chis = stats.chisquare(data1, data2)
statistic, pvalue = chis

if pvalue < 0.05:
    print("대립가설(H1) 채택: 모든 학년이 고르게 수강하지 않는다")
else:
    print("귀무가설(H0) 채택: 모든 학년이 고르게 수강한다")

print("카이제곱 통계량: ",statistic, "\n유의확률: ", pvalue)

기대치=>  171 (관측치 총합) / 4 (관측치갯수):  42.75
대립가설(H1) 채택: 모든 학년이 고르게 수강하지 않는다
카이제곱 통계량:  61.8187134502924
유의확률:  2.4021451008245795e-13

### 연습문제3)
Kosmo 항공사에서는 과거 항공권 판매 자료를 통하여 유럽지역 항공권 구매자의 연령 분포가 다음과 같다. <연령범주>

20대 이하 : 8%
3~40대 : 47%
50대 : 34%
60대 이상 : 11%
Kosmo 항공사는 최근 새롭게 확장 된 동남아지역으로 고객들이 증가함에 따라 기존의 영업정책을 수정 해야 하는지를 검토하고 있다.

이에 Kosmo 항공사에서는 동남아지역 항공권 구매자의 연령분포가 유럽지역의 경우와 같은지를 알고 싶어 한다.

이를 검정하기 위해서 동남아지역 항공권 구매자 207명을 무작위로 조사한 결과, 아래 표와 같은 연령 분포를 얻었다.

카이제곱 적합도 검정을 사용해서 이 문제를 풀어 보시오 (유의 수준 0.05)

In [228]:
# 1) 가설을 수립한다
# 대립가설(H1) 채택: 동남아지역 항공권 구매자의 연령분포는 유럽지역의 경우와 다르다
# 귀무가설(HO) 채택: 동남아지역 항공권 구매자의 연령분포는 유럽지역의 경우와 같다

In [229]:
# 2) 가설검정을 위한 통계량을 구한다.
# 연령범주별 기대빈도는 전체 표본의 수 207명에 각 연령범주의 기대 비율을 곱하여 구한다.

In [67]:
import numpy as np
# 관측치
data1 = np.array([21,109,62,15])
data1

array([ 21, 109,  62,  15])

In [69]:
# 전체 표본의 수 구하기
total = np.sum(data1)
print("전체 표본의 수: ", total)

전체 표본의 수:  207

In [70]:
# 기대치 구하기

e_per = np.array([0.08, 0.47, 0.34,0.11]) # 기대비율

# 기대치
data2 = total * e_per # 전체 표본의 수 * 기대비율
data2

array([16.56, 97.29, 70.38, 22.77])

In [77]:
chis = stats.chisquare(data1, data2)
statistic, pvalue = chis
print("전체 표본의 수: ", sum(data1), "\n관측치: ", data1, "\n기대치: ", data2)
print("카이제곱 통계량: ",statistic, "\n유의확률: ", pvalue)

if pvalue < 0.05:
    print("대립가설(H1) 채택: 동남아지역 항공권 구매자의 연령분포는 유럽지역의 경우와 다르다")
else:
    print("귀무가설(H0) 채택: 동남아지역 항공권 구매자의 연령분포는 유럽지역의 경우와 같다")

전체 표본의 수:  207
관측치:  [ 21 109  62  15]
기대치:  [16.56 97.29 70.38 22.77]
카이제곱 통계량:  6.249083587686194
유의확률:  0.10010099872459155
귀무가설(HO) 채택: 동남아지역 항공권 구매자의 연령분포는 유럽지역의 경우와 같다

## 독립성 검정(Test of Independence)
- 관측값들이 다수의 인자들에 의해 분할 되어 있는 경우 그 인자들의 관찰 값에 영향을 주고 있는지 아닌지를 검정하는 방법.
- 여러 범주를 가지는 두 개의 변수가 서로 독립적인지 또는 관련이 있는지를 분석하는 기법

In [79]:
from scipy import stats
obs = np.array([[5,15], [10,20]])
print(obs)

# 카이제곱 통계량, p-value, 자유도 등을 리턴
statistic, pvalue, _, _ = stats.chi2_contingency(obs)
print("카이제곱 통계량: ",statistic, "\np-value: ", pvalue)

[[ 5 15]
 [10 20]]
카이제곱 통계량:  0.0992063492063492
p-value:  0.7527841326498471

In [89]:
# 독립성 검정(Test Independence) => Sample A 와 Sample B 의 전환율 차이가 있는지 카이제곱 검정
import matplotlib.pyplot as plt
import matplotlib
from scipy.stats import norm
import matplotlib.font_manager as fm

# 두 개의 광고 서비스를 통해 각각 유입된 사용자들의 이용률을 아래와 같이 얻었다고 하자
# 테스트 데이터 [지속 이용 전환, 이탈 수]
# 유입 사용자 수: A:205 , B:290
# 귀무가설 : 모집단 Sample A 와 Sample B 의 지속 이용 전환율은 다르지 않다.
# 대립가설 : 모집단 Sample A 와 Sample B 의 지속 이용 전환율은 다르다.

data1 = np.array([40,165])
data2 = np.array([62,228])

print('Sample A: 유입사용자수={}, 지속이용 사용자수={}, 지속이용전환율(mean)={:.3f}'.format(np.sum(data1), data1[0], data1[0]/np.sum(data1)))
print('Sample B: 유입사용자수={}, 지속이용 사용자수={}, 지속이용전환율(mean)={:.3f}'.format(np.sum(data2), data2[0], data2[0]/np.sum(data2)))

Sample A: 유입사용자수=205, 지속이용 사용자수=40, 지속이용전환율(mean)=0.195
Sample B: 유입사용자수=290, 지속이용 사용자수=62, 지속이용전환율(mean)=0.214

In [88]:
statistic, pvalue, _, _ = stats.chi2_contingency([data1, data2])
print("카이제곱 통계량: ",statistic, "\n유의확률: ", pvalue)

if pvalue < 0.05:
    print("대립가설(H1) 채택")
else:
    print("귀무가설(H0) 채택")

카이제곱 통계량:  0.15451791002162868
유의확률:  0.694254736449269
귀무가설(H0) 채택

### 연습1)

성별,학력별 독립성 검정

가설 ) 성별과 학력이 서로 관계가 있다고 말할 수 있는가? (유의수준 0.05)

In [230]:
# 귀무가설 : 두 변수는 독립적인 관계이다. 학력에 따른 성별 비율의 차이는 없다
# 대립가설 : 두 변수는 독립적인 관계가 아니다. 학력에 따른 성별 비율의 차이는 있다.

In [93]:
data1 = np.array([12,13,65,41])
data2 = np.array([11,6,47,5])
statistic, pvalue, df, e = stats.chi2_contingency([data1,data2])
print(statistic, '\n', pvalue, '\n', df, '\n', e)

16.00751832683485
 0.0011299666560108685
 3
 [[15.065 12.445 73.36  30.13 ]
 [ 7.935  6.555 38.64  15.87 ]]

A. 독립 표본 t-test: 서로 다른 두 개의 그룹 간의 평균 비교
    (예: 남자와 여자간 소득의 차이 비교)

In [114]:
#(예: 남자와 여자 간 소득 차이 비교)
# --> 독립표본 T 검정
# 귀무가설(HO) : 학생들의 평균키는 175cm 이다.
# 대립가설(H1): 학생들의 평균키는 175cm 가 아니다.

import numpy as np
np.random.seed(1) #랜덤값 고정하면 항상 같은 값이 나온다
## np.random.normal(평균, 표준편차)
heights = [180 + np.random.normal(0,5) for _ in range(20)]
print(height)
print("---------------------------------------------------")
# 독립표본 T 검정에 대한 라이브러리 Scipy 통계 라이브러리에서 제공 => ttest_1samp
# 독립표본 T 검정(이산형, 연속형 변수의 상관관계를 알고 싶을 때 사용한다)
# 175 인지 아닌지 - 이산형, 175 늘어나거나 감소하는 연속형 변수
result = stats.ttest_1samp(heights, 175)
print(result)
print("단일표본 T-검정 검정통계량: %.3f, pvalue: %.3f" % result)
# -----------------------------------------------------
# pvalue: 0.003 < 0.05 보다 작기 때문에 통계적으로 유의하고 내가 채택하고 싶은 대립가설이 채택
statistic, pvalue = result
if pvalue < 0.05:
    print("대립가설(H1) 채택 => 학생들의 평균키는 175cm 가 아니다.")
else:
    print("귀무가설(H0) 채택")

[188.1217268183162, 176.94121793174963, 177.35914123868272, 174.63515688921916, 184.32703814662338, 168.49230651559859, 188.7240588210824, 176.19396549552448, 181.5951954802855, 178.75314812261294, 187.31053968522488, 169.69929645251173, 178.38791397993245, 178.07972822665792, 185.6688472116772, 174.50054366342985, 179.13785896224783, 175.61070791039313, 180.21106873357797, 182.9140760685791]
---------------------------------------------------
Ttest_1sampResult(statistic=3.434767428066461, pvalue=0.00277711459981648)
단일표본 T-검정 검정통계량: 3.435, pvalue: 0.003
대립가설(H1) 채택 => 학생들의 평균키는 175cm 가 아니다.

### 실전문제
단일표본 T-검정 (1 Sample T-Test)

In [99]:
# 귀무가설 : 표본의 평균이 모집단의 평균과 일치한다
# 대립가설 : 표본의 평균이 모집단의 평균과 일치하지 않는다
data = [32, 34, 29, 29, 22, 39, 38, 37, 38, 36, 30, 26,22,22]
# 모집단의 평균을 구하시오
data = sorted(data)
print(data)
print("median: ", np.median(data))
print("mean: ", np.mean(data))

expected_mean = 31
print(expected_mean)
from scipy.stats import ttest_1samp
result = ttest_1samp(data, expected_mean)
print("단일표본 T-검정 검정통계량: %.3f, pvalue: %.3f" % result)
statistic, pvalue = result
if pvalue < 0.05:
    print("대립가설(H1) 채택")
else:
    print("귀무가설(H0) 채택")

[22, 22, 22, 26, 29, 29, 30, 32, 34, 36, 37, 38, 38, 39]
median:  31.0
mean:  31.0
31
단일표본 T-검정 검정통계량: 0.000, pvalue: 1.000
귀무가설(H0) 채택

In [102]:
import numpy as np 
from scipy import stats 

np.random.seed(1) #랜덤 시드 고정 # np.random.normal(평균,표준편차)
group1=[170+np.random.normal(0,5) for a in range(20)] # 그룹2 : 평균 175, 표준편차 10
group2=[175+np.random.normal(0,10) for a in range(20)] # numpy를 사용해서 각 그룹의 평균을 구한다. 
print(group1) 
print(group2)

[178.1217268183162, 166.94121793174963, 167.35914123868272, 164.63515688921916, 174.32703814662338, 158.49230651559859, 178.7240588210824, 166.19396549552448, 171.5951954802855, 168.75314812261294, 177.31053968522488, 159.69929645251173, 168.38791397993245, 168.07972822665792, 175.6688472116772, 164.50054366342985, 169.13785896224783, 165.61070791039313, 170.21106873357797, 172.9140760685791]
[163.99380822787077, 186.44723709839613, 184.01590720592796, 180.0249433890187, 184.0085594926441, 168.16272140825666, 173.77109774481352, 165.6423056574093, 172.32111920373984, 180.30355466738186, 168.08339248274692, 171.03246473144023, 168.128272998804, 166.5479435850128, 168.28753869163182, 174.873354010811, 163.82689651364723, 177.34415697817093, 191.5980217710987, 182.42044160577336]

In [104]:
#독립표본 t검정 : stats.ttest_ind # 그룹1과 그룹2에서 각각 학생들을 선택해서 평균키가 같은지 다른지 알고 싶다. 
# 귀무가설 : 학생들의 평균키는 같다.(상관관계가 없다.) 
# 대립가설 : 학생들의 평균키는 같지 않다.( 상관관계가 있다.)

print("group1 의 평균: ", np.mean(group1))
print("group2 의 평균: ", np.mean(group2))
# group1 의 평균:  169.33317681769637
# group2 의 평균:  174.54168687322976 <== 이 차이는 통계적으로 의미가 없다
print("*" * 50)
print(type(np.mean(group1)))
# 등분산 : 분산이 같다는 가정이고, equal_var = False 를 주면 분산이 다르다는 것
print("**************등분산 가정****************************")
# group1 과 group2 의 값을 독립표본 t검정 : 등분산 가정 한 것
# ttest_ind : 독립된 표본이 다른 것을 비교 검정할 때 사용한다.
result = stats.ttest_ind(group1, group2)
# 검정통계량과 pvalue 가 출력됨
print(result)
print("단일표본 T-검정 검정통계량: %.3f, pvalue: %.3f" % result)
statistic, pvalue = result
if pvalue < 0.05:
    print("대립가설(H1) 채택")
else:
    print("귀무가설(H0) 채택")
print("**************등분산 가정 안 한 것****************************")
result2 = stats.ttest_ind(group1, group2)
# 검정통계량과 pvalue 가 출력됨
print(result2)
print("단일표본 T-검정 검정통계량: %.3f, pvalue: %.3f" % result2)
statistic, pvalue = result2
if pvalue < 0.05:
    print("대립가설(H1) 채택")
else:
    print("귀무가설(H0) 채택")

# p-value < 0.05 : 95% 신뢰수준하에서 유의
# p-value < 0.01 : 99% 신뢰수준하에서 유의
# 0.015
# 결론 : 귀무가설 기각, 대립가설 채택
# 두 집단의 평균키가 다르다. 즉, 그룹1 과 그룹2 학생들의 평균키는 같지 않다.

group1 의 평균:  169.33317681769637
group2 의 평균:  174.54168687322976
**************************************************
<class 'numpy.float64'>
**************등분산 가정****************************
Ttest_indResult(statistic=-2.329449625074386, pvalue=0.025249639899591222)
단일표본 T-검정 검정통계량: -2.329, pvalue: 0.025
대립가설(H1) 채택
**************등분산 가정 안 한 것****************************
Ttest_indResult(statistic=-2.329449625074386, pvalue=0.025249639899591222)
단일표본 T-검정 검정통계량: -2.329, pvalue: 0.025
대립가설(H1) 채택

### 연습문제

독립표본 t검정을 통해서 남자와 여자의 신발사이즈의 평균이  같은지 다른지 판별하시오.

In [112]:
# 한천희_0928_독립표본t검정.html (실행결과 포함)

In [231]:
# 귀무가설 : 두집단의 평균이 같다.
# 대립가설 : 두집단의 평균이 다르다.

In [107]:
!pip install xlrd

Requirement already satisfied: xlrd in /home/kosmo1/anaconda3/lib/python3.7/site-packages (1.2.0)

In [160]:
import pandas as pd
# 통계 관련 라이브러리
from scipy import stats
import numpy as np

In [161]:
# 가설수립
# 귀무가설 : 남자와 여자의 신발사이즈의 평균이 같다.
# 대립가설 : 남자와 여자의 신발사이즈의 평균이 다르다.

In [164]:
# 작업1) pandas 의 DataFrame 으로 읽어온다.
df = pd.read_excel('exam24.xlsx')

In [165]:
# 작업2) 성별과 신발사이즈만 DataFrame 으로 df 저장 (아까 삭제 안 한 경우)
df = df[['성별', 'foot_length']]
df.tail()

      성별  foot_length
6405   2          242
6406   2          241
6407   2          228
6408   2          222
6409   2          228

In [166]:
# 작업3) Nan 여부를 확인
df.isnull().sum() # 결측치 출력하기

성별             0
foot_length    0
dtype: int64

In [167]:
# 작업4) m_foot, w_foot 에 각각 성별에 따른 신발 사이즈만 저장한다.
dfv = df[df['성별']==1]
m_foot = dfv['foot_length']
m_foot

0       228
1       269
2       244
3       231
4       265
5       250
6       264
7       252
8       235
9       236
10      252
11      244
12      250
13      267
14      253
15      245
16      246
17      262
18      251
19      235
20      247
21      268
22      238
23      241
24      249
25      251
26      250
27      245
28      273
29      241
       ...
3159    242
3160    249
3161    252
3162    255
3163    251
3164    259
3165    248
3166    254
3167    242
3168    244
3169    260
3170    245
3171    248
3172    244
3173    255
3174    261
3175    254
3176    251
3177    258
3178    247
3179    254
3180    239
3181    254
3182    253
3183    253
3184    278
3185    259
3186    242
3187    239
3188    260
Name: foot_length, Length: 3189, dtype: int64

In [168]:
# 이렇게 해도 값이 위와 같음
m_foot = df.loc[lambda df:df['성별']==1,'foot_length']
m_foot

0       228
1       269
2       244
3       231
4       265
5       250
6       264
7       252
8       235
9       236
10      252
11      244
12      250
13      267
14      253
15      245
16      246
17      262
18      251
19      235
20      247
21      268
22      238
23      241
24      249
25      251
26      250
27      245
28      273
29      241
       ...
3159    242
3160    249
3161    252
3162    255
3163    251
3164    259
3165    248
3166    254
3167    242
3168    244
3169    260
3170    245
3171    248
3172    244
3173    255
3174    261
3175    254
3176    251
3177    258
3178    247
3179    254
3180    239
3181    254
3182    253
3183    253
3184    278
3185    259
3186    242
3187    239
3188    260
Name: foot_length, Length: 3189, dtype: int64

In [169]:
w_foot = df.loc[lambda df:df['성별']==2,'foot_length']
w_foot

3189    216
3190    202
3191    221
3192    235
3193    238
3194    228
3195    233
3196    216
3197    228
3198    213
3199    211
3200    212
3201    214
3202    209
3203    230
3204    212
3205    228
3206    222
3207    251
3208    229
3209    242
3210    235
3211    233
3212    235
3213    234
3214    228
3215    225
3216    233
3217    223
3218    230
       ...
6380    229
6381    233
6382    229
6383    233
6384    233
6385    228
6386    230
6387    229
6388    232
6389    240
6390    234
6391    235
6392    225
6393    238
6394    226
6395    234
6396    231
6397    240
6398    230
6399    222
6400    232
6401    238
6402    232
6403    234
6404    230
6405    242
6406    241
6407    228
6408    222
6409    228
Name: foot_length, Length: 3221, dtype: int64

In [170]:
# 작업5) 독립표본 T검정
result1 = stats.ttest_ind(m_foot,w_foot)
result1

Ttest_indResult(statistic=79.25661164178015, pvalue=0.0)

In [171]:
print("단일표본 T-검정 검정통계량: %.3f, pvalue: %.3f" % result1)
statistic, pvalue = result1
if pvalue < 0.05:
    print("대립가설(H1) 채택 => 남자와 여자의 신발사이즈의 평균이 다르다.")
else:
    print("귀무가설(H0) 채택")

단일표본 T-검정 검정통계량: 79.257, pvalue: 0.000
대립가설(H1) 채택 => 남자와 여자의 신발사이즈의 평균이 다르다.

In [172]:
# 대응표본 t검정
# 동일한 집단의 사전, 사후 평균을 비교할 때 사용한다.
# 예) 어떤 회사에서 탈모약을 개발해서 임상실험을 하는 상황을 가정하면
# 50명을 모집해서 6개월간 탈모약을 복용하게 했고 복용 전과 후의 모발 수를 비교했다.
# 귀무가설 : 복용 후 모발 수가 복용 전보다 크지 않다.
# 대립가설 : 복용 후 모발 수가 복용 전보다 크다.

# 다이어트 약을 복용한 사람들 중 20명을 뽑아서
# 복용 전후의 체중 차이가 유의미한지 알고 싶다.
# 귀무가설 : 다이어트약 복용 전후의 체중 변화가 없다.
# 대립가설 : 다이어트약 복용 전후의 체중 변화가 없다.

In [179]:
import numpy as np
from scipy import stats
np.random.seed(1)
# 복용전 : 평균 60, 표준편차 5
# 여기서 60을 중심으로 체중 데이터 20개가 만들어진다.
before = [60 + np.random.normal(0,5) for a in range(20)] 
print(before)
# 복용후 : 평균 : 복용전체중 X 0.99, 표준편차 0.02
after = [w * np.random.normal(0.99, 0.02) for w in before]
print('-'*50)
print(after)
print('-'*50)
# 대응 표본 t검정 - ttest_rel 란 함수에다가 복용전과 복용후의 값을 인자로 입력
result = stats.ttest_rel(before, after)
print(result)
print('-'*50)

print("단일표본 T-검정 검정통계량: %.3f, pvalue: %.3f" % result)
statistic, pvalue = result
if pvalue < 0.05:
    print("대립가설(H1) 채택 => 다이어트약 복용 전후의 체중 변화가 없다.")
else:
    print("귀무가설(H0) 채택")

[68.1217268183162, 56.94121793174962, 57.359141238682724, 54.63515688921915, 64.3270381466234, 48.492306515598585, 68.7240588210824, 56.19396549552449, 61.59519548028549, 58.75314812261295, 67.31053968522487, 49.69929645251173, 58.38791397993246, 58.07972822665792, 65.66884721167719, 54.500543663429845, 59.13785896224782, 55.61070791039314, 60.21106873357797, 62.914076068579114]
--------------------------------------------------
[65.94098797171107, 57.67544499710449, 57.819839215935254, 54.63788246116392, 64.84275566541605, 47.34427263203588, 67.86790793112998, 54.58033393455883, 60.64923115285458, 58.78881770728494, 65.70631311881824, 48.80793606499072, 57.001583230054315, 56.517144665313666, 64.13055954741337, 53.94173367626836, 57.224973536332286, 55.315321289307555, 61.60772730564428, 63.218635763189475]
--------------------------------------------------
Ttest_relResult(statistic=2.9154993563693186, pvalue=0.008871163766572827)
--------------------------------------------------
단일표본 T-검정 검정통계량: 2.915, pvalue: 0.009
대립가설(H1) 채택 => 다이어트약 복용 전후의 체중 변화가 없다.

### 실습문제
대응표본 t검정

In [180]:
# 탈모.xlsx 를 로드한다.
# 예) 어떤 회사에서 탈모약을 개발해서 임상실험을 하는 상황을 가정하면
# 50명을 모집해서 6개월간 탈모약을 복용하게 했고 복용 전과 후의 모발 수를 비교했다.
# 귀무가설 : 복용 후 모발 수가 복용 전보다 크지 않다.
# 대립가설 : 복용 후 모발 수가 복용 전보다 크다.

In [181]:
import pandas as pd

In [212]:
df2 = pd.read_excel('탈모.xlsx', header=None)
# 필요한 데이터를 추출해서 새로운 데이터 프레임에 저장!
df2 = df2[[1,2]]
df2.head(10)

        1       2
0    모발 수     NaN
1     복용전     복용후
2   95614   97530
3  102279  108454
4   90290  103699
5   91542  109330
6   91483  103279
7   91757   99753
8  105018  107752
9   99265  106671

In [213]:
# 위에 사용하지 않는 데이터들을 잘라낸다
df2 = df2[2:]
df2.head(5)

        1       2
2   95614   97530
3  102279  108454
4   90290  103699
5   91542  109330
6   91483  103279

In [217]:
# reset_index 명령어, 인덱스를 다시 설정할 때 사용하는 함수
#df2.reset_index(drop=True)
#df2.head()

In [216]:
#df2 = df2[[1,2]]
#df2.head()

In [224]:
# column 변경
# 1 => before
# 2 => after
df2.columns = ['before','after']
df2.head(10)

    before   after
2    95614   97530
3   102279  108454
4    90290  103699
5    91542  109330
6    91483  103279
7    91757   99753
8   105018  107752
9    99265  106671
10  100587  105858
11   92852  103365

In [225]:
# before, after 로 값을 저장하는데
# loc 사용해서 해당값을 추출할 것
before = df2.loc[:, 'before']
after = df2.loc[:, 'after']

In [226]:
before.head()

2     95614
3    102279
4     90290
5     91542
6     91483
Name: before, dtype: object

In [227]:
result = stats.ttest_rel(before, after)
print(result)

print("단일표본 T-검정 검정통계량: %.3f, pvalue: %.3f" % result)
statistic, pvalue = result
if pvalue < 0.05:
    print("대립가설(H1) 채택 => 남자와 여자의 신발사이즈의 평균이 다르다.")
else:
    print("귀무가설(H0) 채택")

Ttest_relResult(statistic=-2.244794998363693, pvalue=0.029328921794545573)
단일표본 T-검정 검정통계량: -2.245, pvalue: 0.029
대립가설(H1) 채택 => 남자와 여자의 신발사이즈의 평균이 다르다.